.content {
  color: white;
  margin: 250px;
  /* max-width: 1000px; */
  border-width: 1px;
  border-color: #1e065e;
  border-radius: 5px;
  border-style: solid;
  background-color: #727577;
  width: 70%;
  min-height: 50vh;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}
