* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.outer,
.inner,
.icon,
.title,
.body,
.button {
  /* border: 1px solid aqua; */
}

.outer {
  /* flex: 0 0 calc(33.33%); */
  width: 300px;
  height: 300px;
  padding: 7px;
  margin: 20px;
  border-top: 3px solid white;
  border-radius: 0 0 5% 5%;
  /* background: teal; */
  /* color: white; */
  /* padding: 20px; */
  /* margin: 10px; */
  background-color: #5c5b5b;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.192);
}

.inner {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 5% 5%;
  /* align-items: center; */
  /* margin: 10px; */
  height: 100%;
  text-align: left;
  /* background-color: #727577; */
  border: 1px solid rgb(185, 184, 184);
  padding: 10px;
}
.inner a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
  border-bottom: 1px solid white;
}

.icon {
  /* margin-bottom: 10px; */
  align-self: flex-end;
  margin-bottom: 5px;
}

.title {
}

.body {
  flex-grow: 1;
  /* margin-bottom: auto; */
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

.center {
  display: flex;
  justify-content: center;
  /* width: 100%; */
}

.button {
  /* display: flex; */
  height: 35px;
  /*  */
}
