* {
  margin: 0;
  padding: 0;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  background-color: #3b3838;
  padding: 0 4%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 100;
}

.title {
  color: white;
  font-family: "Lucida Handwriting";
  display: block;
  text-align: center;
  font-size: 0.8vw;
}

.nav {
  display: flex;
  gap: 2%;
  align-items: flex-end;
  max-width: 60%;

  /* max-height: 80%; */
}

.nav li {
  list-style-type: none;
  background-color: #727577;
  border-style: solid;
  border-color: #1e065e;
  color: #ffffff;
  /* width: 80%; */
  text-align: center;
  font-size: 2vw;
  min-width: 10vw;
  min-height: 3vh;
  transition: filter 300ms;
}

.nav li,
a {
  color: white;
  text-decoration: none;
}

/* .link:link li {
} */

.nav li:hover,
a:hover {
  /* background-color: orange; */
  filter: brightness(1.1);
}

.nav li:active,
a:active {
  background-color: red;
}

/* .link a:hover {
  background-color: orange;
}

.link a:active {
  background-color: red;
} */
