.content-first {
  display: flex;
  /* margin-top: 50%; */
  /* align-items: center; */
  /* justify-content: space-between; */
  text-align: start;
  align-self: center;
  justify-self: center;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 200px;
  /* height: auto; */
  /* max-width: 1400px; */
  width: 65vw;
  gap: 5%;
}

.content-first article {
  font-size: x-large;
  height: fit-content;
  width: fit-content;
  margin-top: 50px;
  font-family: "Times New Roman", Times, serif;
}
.profile-img {
  width: 500px;
  height: 650px;
  /* align-self: center; */
  /* height: 500px; */
  /* margin-right: 100px; */
  border-radius: 50% 0 50% 0;
}
@media (max-width: 1400px) {
  .content-first {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .profile-img {
    width: 350px;
    height: 455px;
  }
}

@media (max-width: 400px) {
  .profile-img {
    width: 245px;
    height: 318.5px;
  }
}
