.content {
  display: flex;
  /* margin-top: 50%; */
  /* align-items: center; */
  /* justify-content: space-between; */
  text-align: start;
  align-self: center;
  justify-self: center;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 200px;
  /* height: auto; */
  /* max-width: 1400px; */
  width: 65vw;
  gap: 5%;
}

.article {
  font-size: 30px;
  /* height: fit-content; */
  /* width: fit-content; */
  align-self: center;
  /* margin-top: 50px; */
  font-family: "Times New Roman", Times, serif;
}

.article h1 {
  font-size: 40px;
  text-decoration: underline;
}

.article h3 {
  font-size: 26px;
}
.article h2 {
  font-size: 30px;
}
.profile-img {
  width: 500px;
  height: 650px;
  /* align-self: center; */
  /* height: 500px; */
  /* margin-right: 100px; */
  /* border-radius: 50% 50% 50% 50%; */
  /* border-radius: 80px; */
  border-radius: 20%;
}
@media (max-width: 1400px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .profile-img {
    width: 350px;
    height: 455px;
  }
}

@media (max-width: 400px) {
  .profile-img {
    width: 245px;
    height: 318.5px;
  }
}
