* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.outer,
.cardHeader,
.cardDescription,
.project,
.cardImage .card {
  /* border-style: solid; */
  /* min-height: 6vh; */
}

.outer {
  position: relative;
  border-color: rgb(74, 108, 109);
  padding: 0.2%;
  /* width: 1000px; */
}

.cardHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-color: cadetblue;
  border-bottom: rgb(255, 255, 255);
  border-bottom: solid;
  padding-bottom: 0.4%;
  /* padding-right: 5%; */
}

.cardHeader p {
  position: absolute;
  /* display: flex; */
  top: -20%;
  right: -1%;
  /* top: -10; */
  /* right: 10; */
  font-weight: bold;
  font-size: 40px;
  border-color: black;
  /* border-style: dashed; */
}

.cardHeader h3 {
  margin: 0 0 0.5rem 0;
  align-items: flex-start;
}

.outer:hover {
  cursor: pointer;
}

.cardDescription {
  border-color: rgb(109, 181, 184);
  font-style: italic;
  /* margin-bottom: 1rem; */
  text-align: left;
  width: 70%;
  max-width: 50em;
  height: 100%;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.cardDescription h4 {
  margin-left: 1rem;
  font-weight: normal;
}

.cardLanguages {
  text-align: left;
  list-style: none;
  border-color: rgb(74, 108, 109);
}

.cardLanguages li {
  list-style: none;
  font-weight: normal;
}

.cardImage {
  border-color: rgb(74, 108, 109);
  margin: 0;
  outline: none;
  border: none;
  padding: 0;
  /* width: 10%; */
  height: 100%;
  max-width: 7.5em;
  max-height: 7.5em;
  min-width: 7.5em;
  min-height: 7.5em;
  display: flex;
  margin-right: 3%;
}

.cardImage img {
  /* background-color: aliceblue; */
  width: 100%;

  /* height: 100%; */
}

/* 
.project {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
} */

/* .flexChild {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */
