.projects,
.inline {
  border-style: dotted;
}

.projects {
  position: relative;
  border-color: aqua;
  margin: 10%;
  margin-top: 5%;
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.inline {
  border-color: aqua;
}
