.section,
.inputs {
  /* border-style: dotted; */
}

.section {
  border-color: aqua;
  display: flex;
  justify-content: space-between;
  min-width: 1000px;
}

.inputs {
  background-color: #727577;
  border-width: 1px;
  border-color: #1e065e;
  border-style: solid;
  border-radius: 3px;
  width: clamp(20%, 1500px, 0%);
  height: 100%;
  color: white;
  font-size: 16px;
  padding-left: 1%;
  margin: 10px;
}

@media (max-width: 1500px) {
  .section {
    min-width: 1000px;
  }
}

@media (max-width: 1200px) {
  .section {
    min-width: 1000px;
  }
}

@media (max-width: 1000px) {
  .section {
    min-width: 800px;
  }
}

@media (max-width: 800px) {
  .section {
    min-width: 600px;
  }
}

@media (max-width: 600px) {
  .section {
    min-width: 400px;
  }
}
