* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.outer,
.cardHeader,
.cardDescription,
.project,
.cardImage,
.card,
.cardArticle,
.cardTechnologiess {
  /* border-style: solid; */
  /* min-height: 6vh; */
}

.outer {
  position: relative;
  border-color: rgb(74, 108, 109);
  padding: 0.2%;
  height: 100%;
  border-bottom: rgb(255, 255, 255);
  border-bottom: solid;
}

.cardHeader {
  /* position: relative; */
  text-align: left;
  border-color: cadetblue;
  height: 10%;
}

.cardHeader p {
  position: absolute;
  top: -1rem;
  right: -0.2rem;
  font-weight: bold;
  font-size: 40px;
  border-color: black;
}

.cardHeader h3 {
  margin: 0 0 0.5rem 0;
  font-size: 300%;
}

.cardArticle {
  border-color: rgb(109, 181, 184);
  height: 90%;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  display: flex;
  justify-content: space-between;
}

.cardArticleWidth {
  width: 60%;
}

.cardTechnologiess {
  display: flex;
  justify-content: space-between;
  text-align: left;
  list-style: none;
  border-color: rgb(74, 108, 109);
  height: auto;
}
.cardTechnologiess ul {
  columns: 3;
  -webkit-columns: 2;
  width: 100%;
}

.cardTechnologiess li {
  list-style: inside;
  font-weight: normal;
}

.github {
  margin: 5%;
  margin-right: 10%;

  font-size: 200%;

  text-decoration: underline;
}

.github a:hover {
  color: #c0c0c0;
}
.github li:active,
a:active {
  background-color: none;
}

.github a:active,
h4:active {
  background-color: none;
}

.cardDescription {
  border-color: rgb(109, 181, 184);
  font-style: italic;
  text-align: left;
  font-size: 150%;
  max-width: 70em;
  height: auto;
}

.cardDescription h4 {
  margin-left: 1rem;
  font-weight: normal;
}

.cardImage {
  border-color: rgb(209, 3, 3);
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  margin-right: 3%;
}

.cardImage img {
  width: 100%;
}

.cardArticle::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3b3838;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
