* {
  box-sizing: border-box;
}

.card,
.cardExpanded {
  position: relative;
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  color: white;
  margin-bottom: 30px;
  border-width: 2px;
  border-color: #1e065e;
  border-style: solid;
  background-color: #727577;
  padding: 2%;
}

.card {
  width: 1000px;
  height: 175px;
  display: inline-block;
}

.cardExpanded {
  width: clamp(100%, 1000px, 0%);
  width: 1500px;
  height: 50rem;
  display: inline-block;
}
.card:hover,
.cardExpanded:hover {
  cursor: pointer;
}

.card:focus,
.cardExpanded:focus {
  color: rebeccapurple;
}

@media (max-width: 1500px) {
  .card {
    width: 1000px;
  }
  .cardExpanded {
    width: 1200px;
    height: 40rem;
  }
}

@media (max-width: 1200px) {
  .card {
    width: 1000px;
  }
  .cardExpanded {
    width: 1000px;
    height: 40rem;
  }
}

@media (max-width: 1000px) {
  .card {
    width: 800px;
  }
  .cardExpanded {
    width: 800px;
    height: 30rem;
  }
}

@media (max-width: 800px) {
  .card {
    width: 600px;
  }
  .cardExpanded {
    width: 600px;
    height: 20rem;
  }
}

@media (max-width: 600px) {
  .card {
    width: 400px;
  }
  .cardExpanded {
    width: 400px;
    height: 20rem;
  }
}
