* {
  box-sizing: border-box;
}

.card,
.cardExpanded {
  position: relative;
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  color: white;
  margin-bottom: 30px;
  border-width: 2px;
  border-top: 3px solid white;
  border-radius: 0 0 20px 20px;
  background-color: #5c5b5b;
  padding: 8px;
  box-shadow: 8px 12px rgba(0, 0, 0, 0.192);
}

.card {
  width: 1000px;
  height: 205px;
  display: inline-block;
}

.cardExpanded {
  /* width: clamp(100%, 1000px, 0%); */
  width: 1500px;
  height: 50rem;
  display: inline-block;
}
.card:hover,
.cardExpanded:hover {
  cursor: pointer;
}

.card:focus,
.cardExpanded:focus {
  color: rebeccapurple;
}

@media (max-width: 1500px) {
  .card {
    width: 1000px;
  }
  .cardExpanded {
    width: 1200px;
    height: 40rem;
  }
}

@media (max-width: 1200px) {
  .card {
    width: 1000px;
  }
  .cardExpanded {
    width: 1000px;
    height: 40rem;
  }
}

@media (max-width: 1000px) {
  .card {
    width: 800px;
  }
  .cardExpanded {
    width: 800px;
    height: 30rem;
  }
}

@media (max-width: 800px) {
  .card {
    width: 600px;
  }
  .cardExpanded {
    width: 600px;
    height: 20rem;
  }
}

@media (max-width: 600px) {
  .card {
    width: 400px;
  }
  .cardExpanded {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .card {
    width: 350px;
  }
  .cardExpanded {
    width: 350px;
    height: 16rem;
  }
}

@media (max-width: 350px) {
  .card {
    width: 300px;
  }
  .cardExpanded {
    width: 300px;
  }
}
